---
layout: default
redirect_from: "/ages"
---

<h2>Ages Racing League</h2>

<h3>Event Information</h3>
<ul>
	<li>Start Date: 1st March, 2019</li>
	<li>End Date: 19th April, 2019</li>
	<li>Event Day & Time: <span class='date-data' data-date='2019-03-08-18-30' data-format='day-time'>Friday, 6:30pm UTC</span></li>
	<li>Duration: 8 weeks</li>
	<li>Categories<br/>
		Based on your birth <strong>year</strong>, not your birthday:
		<ol style='list-style-type: upper-alpha'>
			<li style='color:red;font-weight:bold'><span style='color:black;font-weight:normal'>38 and UNDER</span></li>
			<li style='color:green;font-weight:bold'><span style='color:black;font-weight:normal'>39 to 46 years young</span></li>
			<li style='color:lightseagreen;font-weight:bold'><span style='color:black;font-weight:normal'>47 to 51 years young</span></li>
			<li style='color:orange;font-weight:bold'><span style='color:black;font-weight:normal'>52 years and OVER</span></li>
		</ol>
	</li>
	<li>Race Rules
	<ul>
		<li>Riders going over 5W/kg at 95% of 20 minute power will be removed from results.</li>
		<li>Riders going over 6W/kg for 5 minute power will be removed from results.</li>
		<li>Heart rate monitors advised to be worn by all participants.</li>
		<li>Only powermeter and smart trainer users eligible for official result placement.</li>
		<li>All bikes permitted.</li>
		<li>No powerups permitted.</li>
		<li>Official results located at ZwiftPower.</li>
	</ul>
	</li>
	<li>Points
	<ul>
		<li>Points available depend on number of finishing riders; please refer to our
			<a href='/points-table'>points table</a> for full details.</li>
		<li>All participants finishing outside of the top 50 score 1 point.</li>
		<li>Points scoring applied to each category.</li>
	</ul>
	</li>
	<li>Points Rules
		<ul>
			<li>Points can only be earned in the correct category a participant races in.</li>
			<li>Racing in an incorrect category will void any points accrued.</li>
			<li>Points will not carry over when a rider changes age during a current league.</li>
			<li>Best 6 of 8 rounds count towards final standings.</li>
		</ul>
	</li>
	<li>Mid-League Upgrades
		<ul>
			<li>Any rider whose birthday drops mid-league will be upgraded if on a category
				crossover point. To avoid this, a rider must adjust their age (by days/months)
				in Zwift&rsquo;s settings, and set their birthday before a league commences, or set
				their birthday after the league finishes.
			</li>
		</ul>
	</li>
</ul>

<h2>League Standings</h2>
<h3>Previous Results</h3>
<ul>
	<li><a href='/results/2019/series_1/ages-league'>2019 Series 1</a></li>
</ul>

<h3>Current Standings</h3>
{% include standings.html riders=site.data.2019.series_2.ages teams=site.data.2019.series_2.agesteam %}
{% include datetime.html %}
