---
layout: default
---

<h2>Criterium Racing League</h2>

<h3>Event Information</h3>
<ul>
	<li>Start Date: In progress</li>
	<li>End Date: 20th December, 2018</li>
	<li>Event Day & Time: Thursday, 19:20 GMT</li>
	<li>Duration: 8 weeks</li>
	<li>Categories
		<ol style='list-style-type: upper-alpha'>
			<li style='color:red;font-weight:bold'><span style='color:black;font-weight:normal'>4.0W/kg and OVER</span></li>
			<li style='color:green;font-weight:bold'><span style='color:black;font-weight:normal'>3.2W/kg to 3.99W/kg</span></li>
			<li style='color:lightseagreen;font-weight:bold'><span style='color:black;font-weight:normal'>2.5W/kg to 3.19W/kg</span></li>
			<li style='color:orange;font-weight:bold'><span style='color:black;font-weight:normal'>2.49W/kg and UNDER</span></li>
		</ol>
	</li>
	<li>Race Rules
	<ul>
		<li>Riders going over 5W/kg at 95% of 20 minute power will be removed from results.</li>
		<li>Riders going over 6W/kg for 5 minute power will be removed from results.</li>
		<li>Heart rate monitors advised to be worn by all participants.</li>
		<li>Only powermeter and smart trainer users eligible for official result placement.</li>
		<li>All bikes permitted.</li>
		<li>No powerups permitted.</li>
		<li>Official results located at ZwiftPower.</li>
	</ul>
	</li>
	<li>Points
	<ul>
		<li>Points structure: 50, 49, 48 &rArr; 1.</li>
		<li>Points are culled based on the number of finishing participants.</li>
		<li>All participants finishing outside of the top 50 score 1 point.</li>
		<li>Points scoring applied to each category.</li>
	</ul>
	</li>
	<li>Points Rules
		<ul>
			<li>Points can only be earned in the correct category a participant races in.</li>
			<li>Racing in an incorrect category will void any points accrued.</li>
			<li>Points will not carry over when a rider changes category during a current league.</li>
			<li>Best 6 of 8 rounds count towards final standings.</li>
		</ul>
	</li>
	<li>Mid-League Upgrades
		<ul>
			<li>Riders going over category limits will be automatically upgraded in the official results.</li>
			<li>When a rider has been automatically upgraded, they are expected to race in their new
				category for all future events.
			</li>
		</ul>
	</li>
</ul>

<h2>League Standings</h2>
{% assign graded_results = site.data.criterium | group_by: "grade" %}
{% assign a_size = graded_results[0].items.size %}
{% assign b_size = graded_results[1].items.size %}
{% assign c_size = graded_results[2].items.size %}
{% assign d_size = graded_results[3].items.size %}
<style type='text/css'>
.even {
	background-color: rgb(214, 208, 208);
}
td {
	padding-left: 1em;
	padding-right: 1em;
	color: black;
}
th {
	padding-left: 1em;
	padding-right: 1em;
	text-align: left;
}
table {
	font-size: 100%;
	width: 100%;
}
thead {
	background-color: rgba(242, 120, 12, 1);
}
</style>
<table>
	<thead>
	<tr>
<th>Grade</th><th>Name</th><th>Team</th><th>Events</th><th>Points</th>
</tr>
</thead>
<tbody>
	{% for i in (1..a_size) %}
	<tr class='{% cycle "even", "odd" %}''>
		<td>A</td>
			<td>{{ graded_results[0].items[forloop.index0].name }}</td>
			<td>{{ graded_results[0].items[forloop.index0].team }}</td>
			<td>{{ graded_results[0].items[forloop.index0].events }}</td>
			<td>{{ graded_results[0].items[forloop.index0].points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead>
		<tr>
	<th>Grade</th><th>Name</th><th>Team</th><th>Events</th><th>Points</th>
	</tr>
	</thead>
<tbody>
	{% for i in (1..b_size) %}
	<tr class='{% cycle "even", "odd" %}''>
		<td>B</td>
			<td>{{ graded_results[1].items[forloop.index0].name }}</td>
			<td>{{ graded_results[1].items[forloop.index0].team }}</td>
			<td>{{ graded_results[1].items[forloop.index0].events }}</td>
			<td>{{ graded_results[1].items[forloop.index0].points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead>
		<tr>
	<th>Grade</th><th>Name</th><th>Team</th><th>Events</th><th>Points</th>
	</tr>
	</thead>
<tbody>
	{% for i in (1..c_size) %}
	<tr class='{% cycle "even", "odd" %}''>
		<td>C</td>
			<td>{{ graded_results[2].items[forloop.index0].name }}</td>
			<td>{{ graded_results[2].items[forloop.index0].team }}</td>
			<td>{{ graded_results[2].items[forloop.index0].events }}</td>
			<td>{{ graded_results[2].items[forloop.index0].points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead>
		<tr>
	<th>Grade</th><th>Name</th><th>Team</th><th>Events</th><th>Points</th>
	</tr>
	</thead>
<tbody>
	{% for i in (1..d_size) %}
	<tr class='{% cycle "even", "odd" %}''>
		<td>D</td>
			<td>{{ graded_results[3].items[forloop.index0].name }}</td>
			<td>{{ graded_results[3].items[forloop.index0].team }}</td>
			<td>{{ graded_results[3].items[forloop.index0].events }}</td>
			<td>{{ graded_results[3].items[forloop.index0].points }}</td>
	</tr>
	{% endfor %}
</tbody>
</table>