---
layout: default
---

<h2>Criterium Racing League</h2>

<h3>Event Information</h3>
<ul>
	<li>Start Date: In progress</li>
	<li>End Date: 20th December, 2018</li>
	<li>Event Day & Time: Thursday, 19:20 GMT</li>
	<li>Duration: 8 weeks</li>
	<li>Categories
		<ol style='list-style-type: upper-alpha'>
			<li style='color:red;font-weight:bold'><span style='color:black;font-weight:normal'>4.0W/kg and OVER</span></li>
			<li style='color:green;font-weight:bold'><span style='color:black;font-weight:normal'>3.2W/kg to 3.99W/kg</span></li>
			<li style='color:lightseagreen;font-weight:bold'><span style='color:black;font-weight:normal'>2.5W/kg to 3.19W/kg</span></li>
			<li style='color:orange;font-weight:bold'><span style='color:black;font-weight:normal'>2.49W/kg and UNDER</span></li>
		</ol>
	</li>
	<li>Race Rules
	<ul>
		<li>Riders going over 5W/kg at 95% of 20 minute power will be removed from results.</li>
		<li>Riders going over 6W/kg for 5 minute power will be removed from results.</li>
		<li>Heart rate monitors advised to be worn by all participants.</li>
		<li>Only powermeter and smart trainer users eligible for official result placement.</li>
		<li>All bikes permitted.</li>
		<li>No powerups permitted.</li>
		<li>Official results located at ZwiftPower.</li>
	</ul>
	</li>
	<li>Points
	<ul>
		<li>Points structure: 50, 49, 48 &rArr; 1.</li>
		<li>Points are culled based on the number of finishing participants.</li>
		<li>All participants finishing outside of the top 50 score 1 point.</li>
		<li>Points scoring applied to each category.</li>
	</ul>
	</li>
	<li>Points Rules
		<ul>
			<li>Points can only be earned in the correct category a participant races in.</li>
			<li>Racing in an incorrect category will void any points accrued.</li>
			<li>Points will not carry over when a rider changes category during a current league.</li>
			<li>Best 6 of 8 rounds count towards final standings.</li>
		</ul>
	</li>
	<li>Mid-League Upgrades
		<ul>
			<li>Riders going over category limits will be automatically upgraded in the official results.</li>
			<li>When a rider has been automatically upgraded, they are expected to race in their new
				category for all future events.
			</li>
		</ul>
	</li>
</ul>

<h2>League Standings</h2>
<h3>Individual Results</h3>
{% assign graded_results = site.data.crit | group_by: "category" | sort: "name" %}
{% assign a_size = graded_results[0].items.size %}
{% assign b_size = graded_results[1].items.size %}
{% assign c_size = graded_results[2].items.size %}
{% assign d_size = graded_results[3].items.size %}
<style type='text/css'>
.even {
	background-color: rgb(214, 208, 208);
}
.odd {
	background-color: rgb(224, 218, 218);
}
td {
	padding-left: 1em;
	padding-right: 1em;
	color: black;
}
th {
	padding-left: 1em;
	padding-right: 1em;
	text-align: left;
}
table {
	font-size: 100%;
	width: 100%;
}
thead {
	background-color: rgba(242, 120, 12, 1);
}
</style>
<script type='text/javascript'>
function toggleGrade(name) {
	var els = document.getElementsByClassName(name + "-grade");
	for (var i = 0; i < els.length; i++) {
		if (els[i].style.display == 'none')
			els[i].style.display = '';
		else
			els[i].style.display = 'none';
	}
}
function toggleTeamGrade(name) {
	var els = document.getElementsByClassName(name + "-team-grade");
	for (var i = 0; i < els.length; i++) {
		if (els[i].style.display == 'none')
			els[i].style.display = '';
		else
			els[i].style.display = 'none';
	}
}
</script>
Hide/show: <a style='cursor: pointer;' onclick='javascript:toggleGrade("a")'>A Grade</a> |
<a style='cursor: pointer;' onclick='javascript:toggleGrade("b")'>B Grade</a> |
<a style='cursor: pointer;' onclick='javascript:toggleGrade("c")'>C Grade</a> |
<a style='cursor: pointer;' onclick='javascript:toggleGrade("d")'>D Grade</a>
<br/><br/>
<table>
	<thead class='a-grade'>
			<tr style='background-color: red'>
					<th colspan='4'>A Grade</th>
				</tr>
			<tr style='background-color: red'>
<th>Name</th><th>Team</th><th>Events</th><th>Points</th>
</tr>
</thead>
<tbody class='a-grade'>
	{% for i in (1..a_size) %}
		{% assign item = graded_results[0].items[forloop.index0] %}
	<tr class='{% cycle "even", "odd" %}''>
		<td>{{ item.name }}</td>
			{% assign tnamesize = item.tname.size %}
			{% if tnamesize > 0 %}
				{% assign border = item.tbd %}
				{% if border == "ffffff" %}
					<td style='text-align: right; padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
				{% else %}
					<td style='text-align: right; padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
				{% endif %}
			{% else %}
			<td>{{tnamesize}}</td>
			{% endif %}
			<td>{{ item.events }}</td>
			<td>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead class='b-grade'>
		<tr style='background-color: green'>
				<th colspan='4'>B Grade</th>
			</tr>
		<tr style='background-color: green'>
	<th>Name</th><th>Team</th><th>Events</th><th>Points</th>
	</tr>
	</thead>
<tbody class='b-grade'>
	{% for i in (1..b_size) %}
		{% assign item = graded_results[1].items[forloop.index0] %}
	<tr class='{% cycle "even", "odd" %}''>
			<td>{{ item.name }}</td>
			{% assign tnamesize = item.tname.size %}
			{% if tnamesize > 0 %}
				{% assign border = item.tbd %}
				{% if border == "ffffff" %}
					<td style='text-align: right; padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
				{% else %}
					<td style='text-align: right; padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
				{% endif %}
			{% else %}
			<td>{{tnamesize}}</td>
			{% endif %}
			<td>{{ item.events }}</td>
			<td>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead class='c-grade'>
		<tr style='background-color: lightseagreen'>
				<th colspan='4'>C Grade</th>
			</tr>
		<tr style='background-color: lightseagreen'>
	<th>Name</th><th>Team</th><th>Events</th><th>Points</th>
	</tr>
	</thead>
<tbody class='c-grade'>
	{% for i in (1..c_size) %}
		{% assign item = graded_results[2].items[forloop.index0] %}
	<tr class='{% cycle "even", "odd" %}''>
			<td>{{ item.name }}</td>
			{% assign tnamesize = item.tname.size %}
			{% if tnamesize > 0 %}
				{% assign border = item.tbd %}
				{% if border == "ffffff" %}
					<td style='text-align: right; padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
				{% else %}
					<td style='text-align: right; padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
				{% endif %}
			{% else %}
			<td>{{tnamesize}}</td>
			{% endif %}
			<td>{{ item.events }}</td>
			<td>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead class='d-grade'>
		<tr style='background-color: orange'>
				<th colspan='4'>D Grade</th>
			</tr>
		<tr style='background-color: orange'>
	<th>Name</th><th>Team</th><th>Events</th><th>Points</th>
	</tr>
	</thead>
<tbody class='d-grade'>
	{% for i in (1..d_size) %}
		{% assign item = graded_results[3].items[forloop.index0] %}
	<tr class='{% cycle "even", "odd" %}''>
			<td>{{ item.name }}</td>
			{% assign tnamesize = item.tname.size %}
			{% if tnamesize > 0 %}
				{% assign border = item.tbd %}
				{% if border == "ffffff" %}
					<td style='text-align: right; padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
				{% else %}
					<td style='text-align: right; padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
				{% endif %}
			{% else %}
			<td>{{tnamesize}}</td>
			{% endif %}
			<td>{{ item.events }}</td>
			<td>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% assign team_results = site.data.critteam | group_by: "category" | sort: "name" %}
{% assign a_size = team_results[0].items.size %}
{% assign b_size = team_results[1].items.size %}
{% assign c_size = team_results[2].items.size %}
{% assign d_size = team_results[3].items.size %}
<h3>Team Results</h3>
Hide/show: <a style='cursor: pointer;' onclick='javascript:toggleTeamGrade("a")'>A Grade</a> |
<a style='cursor: pointer;' onclick='javascript:toggleTeamGrade("b")'>B Grade</a> |
<a style='cursor: pointer;' onclick='javascript:toggleTeamGrade("c")'>C Grade</a> |
<a style='cursor: pointer;' onclick='javascript:toggleTeamGrade("d")'>D Grade</a>
<br/><br/>
<table>
	<thead class='a-team-grade'>
		<tr style='background-color: red'>
			<th colspan='3'>A Grade</th>
		</tr>
	<tr style='background-color: red'>
<th>Team</th><th>Results</th><th>Points</th>
</tr>
</thead>
<tbody class='a-team-grade'>
	{% for i in (1..a_size) %}
		{% assign item = team_results[0].items[forloop.index0] %}
	<tr class='{% cycle "even", "odd" %}''>
		{% assign tnamesize = item.tname.size %}
		{% assign border = item.tbd %}
		{% if border == "ffffff" %}
			<td style='padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
		{% else %}
			<td style='padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
		{% endif %}
	<td style='text-align:right'>{{ item.events }}</td>
	<td style='text-align:right'>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead class='b-team-grade'>
		<tr style='background-color: green'>
				<th colspan='3'>B Grade</th>
			</tr>
		<tr style='background-color: green'>
	<th>Team</th><th>Results</th><th>Points</th>
	</tr>
	</thead>
<tbody class='b-team-grade'>
	{% for i in (1..b_size) %}
		{% assign item = team_results[1].items[forloop.index0] %}
	<tr class='{% cycle "even", "odd" %}''>
			{% assign tnamesize = item.tname.size %}
				{% assign border = item.tbd %}
				{% if border == "ffffff" %}
					<td style='padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
				{% else %}
					<td style='padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
				{% endif %}
			<td style='text-align:right'>{{ item.events }}</td>
			<td style='text-align:right'>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead class='c-team-grade'>
		<tr style='background-color: lightseagreen'>
				<th colspan='3'>C Grade</th>
			</tr>
		<tr style='background-color: lightseagreen'>
		<th>Team</th><th>Results</th><th>Points</th>
	</tr>
	</thead>
<tbody class='c-team-grade'>
	{% for i in (1..c_size) %}
		{% assign item = team_results[2].items[forloop.index0] %}
	<tr class='{% cycle "even", "odd" %}''>
		{% assign tnamesize = item.tname.size %}
		{% assign border = item.tbd %}
		{% if border == "ffffff" %}
			<td style='padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
		{% else %}
			<td style='padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
		{% endif %}
	<td style='text-align:right'>{{ item.events }}</td>
	<td style='text-align:right'>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
<thead class='d-team-grade'>
		<tr style='background-color: orange'>
				<th colspan='3'>D Grade</th>
			</tr>
		<tr style='background-color: orange'>
			<th>Team</th><th>Results</th><th>Points</th>
	</tr>
	</thead>
<tbody class='d-team-grade'>
	{% for i in (1..d_size) %}
		{% assign item = team_results[3].items[forloop.index0] %}
	<tr class='{% cycle "even", "odd" %}''>
		{% assign tnamesize = item.tname.size %}
		{% assign border = item.tbd %}
		{% if border == "ffffff" %}
			<td style='padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
		{% else %}
			<td style='padding-top: 3px; padding-bottom: 3px'><span style='font-size: 75%; padding-left: 4px; padding-right: 4px; border-style: solid; border-width: 2px; background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
		{% endif %}
	<td style='text-align:right'>{{ item.events }}</td>
	<td style='text-align:right'>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
</table>