---
layout: default
date: 03/11/2019
---

<h2>Wild Women Racing League</h2>

<!--<h3>Upcoming Events</h3>
<ul>
	<li><a href='https://zwift.com/events/view/165555'>Wild Women Racing Series, <span class='date-data' data-date='2019-01-12-13-30' data-format='day-time'>Saturday 1:30pm UTC</span></a></li>
	<li><a href='https://zwift.com/events/view/165556'>Wild Women Racing Series, <span class='date-data' data-date='2019-01-12-18-55' data-format='day-time'>Saturday 6:55pm UTC</span></a></li>
</ul>-->

<h3>Event Information</h3>
<p>The Wild Women Racing League is a new joint venture between the BRT Hellcatz, Velocity Vixen and the women of ZSUN and AHDR.
</p>
<iframe width="640" height="360" src="https://www.youtube.com/embed/3ro_jIJ6X98" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<ul>
	<li>Start Date: <span class='date-data' data-date='2019-06-08-19-00'>8th June, 2019 UTC</span></li>
	<li>End Date: <span class='date-data' data-date='2019-07-27-19-00'>27th July, 2019 UTC</span></li>
	<li>Event Day & Time:
		<ul>
			<li><span class='date-data' data-date='2019-06-08-12-30' data-format='day-time' data-use-upcoming='true'>Saturday 12:30pm UTC</span></li>
			<li><span class='date-data' data-date='2019-06-08-21-55' data-format='day-time' data-use-upcoming='true'>Saturday 9:55pm UTC</span></li>
		</ul>
	<li>Duration: 8 weeks</li>
	<li>Categories
		<ol style='list-style-type: upper-alpha'>
			<li style='color:red;font-weight:bold'><span style='color:black;font-weight:normal'>3.7W/kg and OVER</span></li>
			<li style='color:green;font-weight:bold'><span style='color:black;font-weight:normal'>3.2W/kg to 3.69W/kg</span></li>
			<li style='color:lightseagreen;font-weight:bold'><span style='color:black;font-weight:normal'>2.5W/kg to 3.19W/kg</span></li>
			<li style='color:orange;font-weight:bold'><span style='color:black;font-weight:normal'>2.49W/kg and UNDER</span></li>
		</ol>
	</li>
	<li>Race Rules
	<ul>
		<li>Women only. Shared accounts not eligible for official results.</li>
		<li>Must be registered with <a href='https://www.zwiftpower.com/'>ZwiftPower</a>.</li>
		<li>Riders going over 5W/kg at 95% of 20 minute power will be DQ'd without CEVAZ approval.</li>
		<li>Riders going over 6W/kg for 5 minute power will be removed from results.</li>
		<li>Heart rate monitors required for podium finishers, time penalty applied to place riders outside podium positions where possible.</li>
		<li>zPower is not eligible for podium finishers, time penalty applied to place riders outside podium positions where possible.</li>
		<li>Non-TT bikes permitted, unless TT race, and will result in disqualification.</li>
		<li>Powerups permitted.</li>
		<li>Race Commissar decision will be final.</li>
	</ul>
	</li>
	<li>Individual Points: Road/Climb/TT
	<ul>
		<li>Points use the 45-50+ column of the points table; please refer to our
			<a href='/points-table'>points table</a> for full details.</li>
		<li>All participants finishing outside of the top 50 score 1 point.</li>
		<li>Points scoring applied to each category.</li>
	</ul>
	<li>Individual Points: Climb
	<ul>
		<li>For each QOM, the top 6 will be awarded points (10, 7, 5, 3, 2, 1) with
			double points for the final climb. The best three climbers will be given a
			time bonus (-3, -2, -1 seconds) to their finish time.
		</li>
	</ul>
	</li>
	<li>Individual Points: Criterium
	<ul>
		<li>Finishing order will be determined by points earned from each sprint and the finish.</li>
		<li>For each sprint segment, the top 6 will be awarded points (10, 7, 5, 3, 2, 1).</li>
		<li>For	the finish line, the top 6 will receive double points (20, 14, 10, 6, 4, 2).</li>
	</ul>
	</li>
	<li>Team Points</li>
	<ul>
		<li>Each team will score the sum of their top 3 individual rider points.</li>
		<!--<li>Each team will also get a bonus point for each rider that finishes.</li>-->
		<li>There will be separate podiums for teams in each category.</li>
	</ul>
	<li>Points Rules
		<ul>
			<li>Points can only be earned in the correct category a participant races in.</li>
			<!--<li>Racing in an incorrect category will void any points accrued.</li>-->
			<li>50% of points will carry over when a rider changes category during a current league.</li>
			<li>Best 6 of 8 rounds count towards final standings.</li>
		</ul>
	</li>
	<li>Mid-League Upgrades
		<ul>
			<li>Riders going over category limits will be automatically upgraded in the official results.</li>
			<li>When a rider has been automatically upgraded, they are expected to race in their new
				category for the remainder of the series.
			</li>
		</ul>
	</li>
	<li><a href='/wild-women-faq'>Frequently Asked Questions</a></li>
</ul>

<h2 id='results'>League Standings</h2>
<h3>Previous Results</h3>
<ul>
	<li><a href='/results/2019/series-1/wild-women'>2019 Series 1</a></li>
	<li><a href='/results/2019/series-2/wild-women'>2019 Series 2</a></li>
	<li><a href='/results/2019/series-3/wild-women'>2019 Series 3</a></li>
	<li><a href='/results/2019/series-4/wild-women'>2019 Series 4</a></li>
</ul>

<h3>Current Standings</h3>
<p>Last updated: {{ page.date | date: "%A, %B %e" }}</p>

{% include standings.html riders=site.data.2019.series_5.wildwomen teams=site.data.2019.series_5.wildwomenteam %}

{% include datetime.html %}
