---
layout: default
date: 20/11/2019
---

<h2>Wild Women Racing League</h2>

<h3>Important Notice</h3>
<p>
	The Wild Women Racing League has now been discontinued. However, you can continue to race in the new
	<a href='/fierce-felines'><strong>Fierce Felines</strong></a> racing league, run by BRT Hellcatz. There will be a few
	changes to rules and points in the Fierce Felines to make things easier for all our racers.
</p>

<h2 id='results'>League Standings</h2>
<h3>Previous Results</h3>
<ul>
	<li><a href='/results/2019/series-1/wild-women'>2019 Series 1</a></li>
	<li><a href='/results/2019/series-2/wild-women'>2019 Series 2</a></li>
	<li><a href='/results/2019/series-3/wild-women'>2019 Series 3</a></li>
	<li><a href='/results/2019/series-4/wild-women'>2019 Series 4</a></li>
</ul>

<h3>Current Standings</h3>
<p>Last updated: {{ page.date | date: "%A, %B %e" }}</p>

{% include standings.html riders=site.data.2019.series_5.wildwomen teams=site.data.2019.series_5.wildwomenteam %}

{% include datetime.html %}
