<p>
	Individual results: <a href='#a-grade-individual'>A Grade</a> | <a href='#b-grade-individual'>B Grade</a> | <a href='#c-grade-individual'>C Grade</a> | <a href='#d-grade-individual'>D Grade</a><br/>
	Team results: <a href='#a-grade-team'>A Grade</a> | <a href='#b-grade-team'>B Grade</a> | <a href='#c-grade-team'>C Grade</a> | <a href='#d-grade-team'>D Grade</a>
</p>

<h3>Individual Results</h3>
{% assign results = include.riders | group_by: "category" | sort: "name" %}
<table id='individual-results'>
	{% for grade in results %}
	<thead class='{{ grade.name | lowercase }}-grade' id='{{ grade.name | lowercase }}-grade-individual'>
			<tr>
					<th colspan='4'>{{ grade.name | uppercase }} Grade</th>
				</tr>
			<tr>
<th>Name</th><th style='text-align: right'>Team</th><th style='text-align: center'>E</th><th style='text-align: center'>P</th>
</tr>
</thead>
<tbody class='{{ grade.name | lowercase}}-grade'>
	{% for item in grade.items %}
		{% assign gold = item.podiums | remove: "silver" | remove: "bronze" %}
		{% assign silver = item.podiums | remove: "gold" | remove: "bronze" %}
		{% assign bronze = item.podiums | remove: "silver" | remove: "gold" %}
		{% assign podiums = gold | append: " " | append: silver | append: " " | append: bronze | split: " " %}
	<tr class='{% cycle "even", "odd" %}'>
		<td>{{ item.name }}
			{% for p in podiums reversed %}
				<i class='fas fa-trophy {{ p }}'></i>
			{% endfor %}
			{% for i in (1..item.upgrades) %}
				<i class='fas fa-star'></i>
			{% endfor %}
		</td>
			{% assign tnamesize = item.tname.size %}
			{% if tnamesize > 0 %}
				{% assign border = item.tbd %}
				{% if border == "ffffff" %}
					<td class='team-badge'><span style='background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
				{% else %}
					<td class='team-badge'><span style='background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
				{% endif %}
			{% else %}
			<td>&nbsp;</td>
			{% endif %}
			<td class='events'>{{ item.events }}</td>
			<td class='points'>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
{% endfor %}
</table>

<h3>Team Results</h3>
{% assign results = include.teams | group_by: "category" | sort: "name" %}
<table id='team-results'>
{% for grade in results %}
		<thead class='{{ grade.name | lowercase }}-grade' id='{{ grade.name | lowercase }}-grade-team'>
		<tr>
			<th colspan='3'>{{ grade.name | uppercase }} Grade</th>
		</tr>
	<tr>
<th>Team</th><th style='text-align: right'>Results</th><th style='text-align: right'>Points</th>
</tr>
</thead>
<tbody class='{{ grade.name | lowercase }}-grade'>
	{% for item in grade.items %}
	<tr class='{% cycle "even", "odd" %}'>
		{% assign tnamesize = item.tname.size %}
		{% assign border = item.tbd %}
		{% if border == "ffffff" %}
			<td class='team-badge'><span style='background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbc}}'>{{ item.tname }}</span></td>
		{% else %}
			<td class='team-badge'><span style='background-color: {{item.tbc}}; color:{{item.tc}}; border-color: {{item.tbd}}'>{{ item.tname }}</span></td>
		{% endif %}
	<td class='events'>{{ item.events }}</td>
	<td class='points'>{{ item.points }}</td>
	</tr>
	{% endfor %}
</tbody>
{% endfor %}
</table>
