<html>

<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width">
  <title>Bolt Racing Team</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link href='/assets/css/fontawesome.min.css' rel='stylesheet' />
  <link href='/assets/css/solid.min.css' rel='stylesheet' />
  <link rel='stylesheet' href='/assets/css/site.css' />
</head>

<body>
  <div id='content'>
    <h1 style='text-align: center'><a href='/' class='image-link'><span style='display:none'>Bolt Race Team</span><img id='team-logo'
          src='/logo.svg' /><span id='logo-separator'></span><img id='team-name' src='/brt.svg' /><img id='word-mark'
          src='/team-name-outlines.svg' /></a></h1>
    <hr />
    <div style='text-align: center'>
      <span style='font-size: 100%'>Racing Leagues:</span>
      <ul id='nav' class='nav-menu'>
        <li><a href='/ages-league'>Ages</a></li>
        <li><a href='/criterium-league'>Criterium</a></li>
        <li><a href='/iron-goat-league'>Iron Goat</a></li>
        <li><a href='/tt-league'>Time Trial</a></li>
        <li><a href='/fierce-felines'>Fierce Felines</a></li>
        <li><a href='/thunderbolt'>Thunderbolt</a></li>
      </ul>
    </div>
    <hr />
    <ul id='nav2' class='nav-menu' style='text-align: center; display: block'>
      <li><a href='/join-brt'>Join BRT</a></li>
      <li><a href='/workouts'>Workouts</a></li>
      <li><a href='/zwift-power-guide'>ZwiftPower Guide</a></li>
      <li><a href='/zwift-racing-guide'>Zwift Racing Guide</a></li>
      <li><a href='https://discuss.boltrace.team/'>Clubhouse</a></li>
      <li><a href='https://portal.boltrace.team/'>Membership Portal</a></li>
    </ul>
    <hr style='margin-bottom: 4px' />
    <div id='nav-sponsors' class='nav-menu'>
      <a href='https://www.primaleurope.com/'><img src='/primal.svg' style='height: 1.5em' /></a>
      <a href='https://thesufferfest.com'>
        <img src='/sufferfest2.svg' style='height: 1.5em'/></a>
      </div>
    <hr style='margin-top: 0'/>
    {{content}}
    <p style='text-align: center'>
      <a href='https://www.primaleurope.com/' class='image-link'><img src='/primal.svg'
          style='height: 4em; max-width: 800px' /></a>
    </p>
  </div>
</body>

</html>
